<div id="homeComponent">
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a [class]="getActive('about')" (click)="focus('about')">About</a>
    </li>
    <li class="nav-item">
      <a [class]="getActive('candidacy')" (click)="focus('candidacy')">Candidacy</a>
    </li>
    <li class="nav-item">
      <a [class]="getActive('history')" (click)="focus('history')">History</a>
    </li>
    <li class="nav-item">
      <a [class]="getActive('join')" (click)="focus('join')">Join</a>
    </li>
  </ul>
  <div>
    <app-about class="d-flex justify-content-center mt-3" *ngIf="getIsFocus('about')"></app-about>
    <app-join class="d-flex justify-content-center mt-3" *ngIf="getIsFocus('join')"></app-join>
    <app-candidacy class="d-flex justify-content-center mt-3" *ngIf="getIsFocus('candidacy')"></app-candidacy>
    <app-history class="d-flex justify-content-center mt-3" *ngIf="getIsFocus('history')"></app-history>
  </div>
</div>
