<div id="candidacyComponent" class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-sm-12">
      <h1 class="display-4"><b>Bryce Mountain Patroller</b></h1>
      <div class="bg-light">
        <p>
          There are several types of paid and volunteer mountain patrollers and you can do some or all depending on your preference.
          All types require that you successfully complete and pass National Ski Patrol’s (NSP)
          <a href="https://nspserves.org/outdoor-emergency-care/">Outdoor Emergency Care</a> (OEC) course.
          This course is taught by Bryce volunteer and paid ski patrollers. Our next expected class is to take place Summer 2021.
          To drive a sled, you must pass the Outdoor Emergency Transport test. Potential new patrollers may work towards their OET
          certification Winter ‘20-‘21 prior to completing the OEC course!
        </p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-8 col-sm-12">
      <h3>Outdoor Emergency Care (OEC)</h3>
      <div class="bg-light">
        <p>
          This course is required by all Bryce Mountain Patrol types. Once a candidate successfully passes this course, they are required
          to take a yearly refresher offered by Bryce Mountain Volunteer Ski Patrol and Bryce Mountain Management. An active OEC Technician
          certification is required by all Bryce Mountain patrol types. This refresher can be taken at other resorts within the southern division
          (or other regions) with coordination of that patrol and Bryce Mountain Patrol Management. This course will give you the baseline
          emergency medical responder training required to respond to incidents and rescue operations on Bryce Mountain. OEC will provide
          instruction in the following:
        </p>
        <ul>
          <li>Performing safe and effective stabilization and extrication of injured persons in the outdoor environment</li>
          <li>Scene safety (identifying hazards to both responders and visitors)</li>
          <li>Safe and efficient use of outdoor emergency care skills to prevent further injury to visitors</li>
          <li>Bryce Mountain Patrol standard operating procedures</li>
        </ul>
        <p>
          Current EMTs and Advanced EMTs can “challenge” the practical exercises of OEC and fast-track qualification
          requirements to obtain an OEC Technician card.
        </p>
        <p>
          OEC training consists of classroom and on-the-hill training that will test emergency medical responder skills with practical exercises and scenarios.
        </p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-8 col-sm-12">
      <h3>Outdoor Emergency Transport (OET)</h3>
      <div class="bg-light">
        <p>
          <a href="https://www.nsp.org/NSPMember/Programs/OET.aspx">Outdoor Emergency Transport</a>
          is unique to NSP and is how ski patrollers safely transport patients to higher emergency care.
          There are two parts to OET skiing/snowboarding and toboggan handling. A basic level of skiing is required in order to begin OET.
          OET instructors at Bryce Mountain comprise of Volunteer and Paid Ski Patrollers and are certified by NSP to instruct candidates
          and active patrollers how to properly ski/snowboard and handle a toboggan.
        </p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-8 col-sm-12">
      <h3>Paid Patroller</h3>
      <div class="bg-light">
        <p>
          Every shift at Bryce Mountain requires at least one paid patroller. Paid patrollers handle all weekday
          patrol duties and act as the weekend supervisors during winter operations. Currently paid patrollers handle all patrol duties
          during summer operations. Additional hiring requirements may apply.
        </p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-8 col-sm-12">
      <h3>Volunteer Patroller</h3>
      <div class="bg-light">
        <p>
          A volunteer ski/snowboard & bike patrollers have the same requirements of all other Bryce Mountain Patroller types.
          Benfits of being a volunteer include an employee ski pass and a single lift ticket for each shift completed
          during a given year that can be given to a family member or friend. A unique benefit of being a volunteer patroller
          is being covered by Virginia’s “Good Samaritan Law”.
          <a href="https://law.lis.virginia.gov/vacode/title8.01/chapter3/section8.01-225/">VA Code §8.01-225</a>
          provides that any person who renders
          emergency assistance in good faith shall not be liable for any civil damages.
        </p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-8 col-sm-12">
      <h3>Alpine Patroller</h3>
      <div class="bg-light">
        <p>
          Alpine patrollers are required to be successfully active in OEC and OET. This is the most common and the
          traditional role of a ski patroller. All patrol types (besides bike and aid room only)
          will eventually be required to pass OET and must become an Alpine Patroller.
        </p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-8 col-sm-12">
      <h3>Ski/Snowboard & Bike Patroller</h3>
      <div class="bg-light">
        <p>
          A general patroller is who has successfully passed OEC but not passed OET yet. This role is generally a new patroller
          that has not fully developed their ski and toboggan skills fully enough to pass OET. Candidates might elect to only
          participate as a bike patroller and OEC is the only requirement of that position. Bike patrollers are not required
          to successfully complete OET.
        </p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-8 col-sm-12">
      <h3>Aid Room Only  Patroller</h3>
      <div class="bg-light">
        <p>
          Don’t like to ski or snowboard but want to hone your OEC skills? Bryce Mountain Patrol does offer Aid Room-only shifts.
        </p>
      </div>
    </div>
  </div>
</div>
